.CheckboxIconSpinner {
  stroke: var(--primary-100);
  stroke-width: 2;
  fill: none;
  transform-origin: center;
  animation: spin 2s linear infinite;
}
.CheckboxIconSpinnerBackground {
  fill: var(--grey-20);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
