.LoginContainer {
  display: flex;
  flex-direction: column;
  width: 320px;
  max-width: 90%;
  align-self: center;
}
.LoginHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-header-bold);
  margin-bottom: 56px;
}
.LoginPasswordContainer {
  margin-top: 16px;
}
.LoginButtonAndErrorMessageContainer {
  position: relative;
  margin-top: 16px;
}
.LoginErrorMessage {
  position: absolute;
  left: 0;
  top: 72px;
  width: 100%;
  min-height: 72px;
  color: var(--red-70);
  background-color: #fff;
}
.LoginExtraButtons {
  margin-top: 36px;
}
