.AutoSuggestContainer {
  position: relative;
}
.AutoSuggestSuggestionsContainer {
  width: 100%;
  background-color: #fff;
  box-shadow: var(--box-shadow-5);
  border-radius: 4px;
  max-height: 316px;
  overflow-y: auto;
  z-index: 1; /* This makes sure that the suggestions are above the overlay. */
}
.AutoSuggestSuggestionsContainerOpen {
  position: absolute;
  top: 64px;
}
.AutoSuggestSuggestion {
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 48px;
  cursor: pointer;
}
.AutoSuggestSuggestion:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.AutoSuggestSuggestion:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.AutoSuggestSuggestionHighlighted {
  background-color: var(--grey-20);
}
