.NewAccountContainer {
  position: absolute;
  top: 25%;
  display: flex;
  flex-direction: column;
  width: 320px;
  max-width: 90%;
  align-self: center;
}
.NewAccountHeader {
  font-family: var(--font-header-bold);
  font-size: var(--font-size-7);
  margin: 0 0 16px 0;
}
.NewAccountPasswordContainer {
  margin-top: 16px;
}
.NewAccountButtonAndErrorMessageContainer {
  position: relative;
  margin-top: 16px;
}
.NewAccountErrorMessage {
  position: absolute;
  left: 0;
  top: 72px;
  width: 100%;
  min-height: 72px;
  color: var(--red-70);
  background-color: #fff;
}
.NewAccountSuccessMessage {
  margin-top: 16px;
  font-size: var(--font-size-2);
  color: var(--green-70);
}
