.HeaderMenu {
  position: relative;
}
.HeaderMenuDotsButton {
  display: flex;
}
.HeaderMenuContainer {
  position: relative;
}
.HeaderMenu {
  position: absolute;
  right: 0;
  top: 46px;
  z-index: 1;
  min-width: 160px;
  background-color: #fff;
  color: var(--grey-100);
  border-radius: 4px;
  box-shadow: var(--box-shadow-3);
}
.HeaderMenuItemsContainer {
  padding: 8px 0;
}
.HeaderMenuItemsSeparator {
  background-color: var(--grey-30);
}
.HeaderMenuSignedInAs {
  padding: 8px 16px 0;
  font-size: var(--font-size-1);
}
