.DialogHeader {
  display: flex;
  align-items: baseline;
  font-family: var(--font-header-bold);
  padding: 24px 24px 20px 24px;
}
.DialogHeaderTitle {
  font-size: var(--font-size-5);
}
.DialogHeaderHelperText {
  margin-left: auto;
  color: var(--grey-50);
}
